NEXT_PUBLIC_TWILIGHT_PRICE_WS=wss://relayer.twilight.rest/ws
NEXT_PUBLIC_TWILIGHT_PRICE_REST_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOiJ0ZXN0X3VzZXIiLCJpc19hZG1pbiI6ZmFsc2UsImV4cCI6NDgzNzE0Mzk1OSwiaWF0IjoxNjgzNTQzOTU5fQ.jn1u6HRuqSHk8kXXlCY4FXli1F5V7UzNHP_8OfC78
NEXT_PUBLIC_TWILIGHT_API_RPC=https://rpc.twilight.rest/
NEXT_PUBLIC_TWILIGHT_API_REST=https://lcd.twilight.rest/
NEXT_PUBLIC_ZKOS_API_ENDPOINT=https://nykschain.twilight.rest/zkos/
NEXT_PUBLIC_TWILIGHT_PRICE_REST=https://relayer.twilight.rest/api
NEXT_PUBLIC_RELAYER_ENDPOINT=https://relayer.twilight.rest/relayer/
NEXT_PUBLIC_CLIENT_ENDPOINT=https://relayer.twilight.rest/clientapi/
NEXT_PUBLIC_FAUCET_ENDPOINT=https://faucet-rpc.twilight.rest
PRICE_ORACLE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOiJ0ZXN0X3VzZXIiLCJpc19hZG1pbiI6ZmFsc2UsImV4cCI6NDgzNzE0Mzk1OSwiaWF0IjoxNjgzNTQzOTU5fQ.jn1u6HRuqSHk8kXXlCY4FXli1F5V7UzNHP_8OfC78
VERCEL_URL=https://web.twilight.rest/

NEXT_PUBLIC_EXPLORER_URL=https://explorer.twilight.org/nyks
NEXT_PUBLIC_KYC_ENDPOINT=https://zk-kyc.twilight.rest

NEXT_PUBLIC_UMAMI_SRC=https://umami-production-328f.up.railway.app/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=66f03cb8-635a-4cc2-9cfa-39abc727d504
NEXT_PUBLIC_MANDATORY_KYC=false
NEXT_PUBLIC_TWILIGHT_NETWORK_TYPE=testnet

NEXT_PUBLIC_BINANCE_WS_URL=wss://stream.binance.com/ws
NEXT_PUBLIC_BTC_INDEXER_URL=https://indexer.twilight.org/api/bitcoin/info
NEXT_PUBLIC_APP_LOGO_URL=https://staging-frontend.twilight.rest/images/twilight.png
NEXT_PUBLIC_APP_URL=https://twilight-pool.vercel.app
NEXT_PUBLIC_CHAIN_EXPLORER_URL=https://explorer.twilight.rest

NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=

NEXT_PUBLIC_BINANCE_WS_URL=wss://stream.binance.com/ws
NEXT_PUBLIC_BTC_INDEXER_URL=https://indexer.twilight.org/api/bitcoin/info
NEXT_PUBLIC_APP_LOGO_URL=https://staging-frontend.twilight.rest/images/twilight.png
NEXT_PUBLIC_APP_URL=https://twilight-pool.vercel.app
NEXT_PUBLIC_CHAIN_EXPLORER_URL=https://explorer.twilight.rest