@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: 314 81% 63%;
  --green: 130 97% 89%;
  --orange: 28 94% 61%;
  --purple: 281 93% 63%;
  --green-medium: 123 64% 62%;
  --red: 357 93% 63%;
  --black: 240 56% 7%;
  --white: 0 0% 100%;
  --gradient-blue: 211.2 52% 81%;
  --gradient-white: 212.727 65% 93%;

  background-color: hsl(var(--background));
}

html.pink {
  --theme: var(--pink);
}

html.orange {
  --theme: var(--orange);
}

html.purple {
  --theme: var(--purple);
}

@layer base {
  /* remove default styling */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  html.light {
    --background: 0 0% 100%;
    --primary: 240 56% 7%;
    --primary-accent: 190 11% 39%;

    --outline: hsla(240, 56%, 7%, 0.21);

    --btn-secondary: 240 4% 91%;

    --tabs-background: 0 0% 87%;
    --tabs-accent: var(--primary);

    color: hsl(var(--primary));
  }

  html.dark {
    --background: 0 0% 0%;
    --primary: 0 0% 100%;
    --primary-accent: 240 5% 60%;

    --outline: hsla(255, 100%, 100%, 0.2);

    --btn-secondary: 240 6% 10%;

    --tabs-background: 218 14% 11%;
    --tabs-accent: var(--primary);

    color: hsl(var(--primary));
  }

  * {
    @apply border-outline;
  }

  .btn-primary::after {
    background: hsl(var(--primary));
    position: absolute;
    content: "";
    opacity: 1;
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: 32px;
    z-index: -1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .btn-secondary::after {
    background: var(--primary);
    position: absolute;
    content: "";
    opacity: 0;
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: 32px;
    z-index: -1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .btn-primary:hover::after {
    opacity: 0;
  }

  .btn-primary::before,
  .btn-secondary::before {
    background: linear-gradient(
      to right,
      hsl(var(--red)),
      hsl(var(--pink)),
      hsl(var(--gradient-blue)),
      hsl(var(--gradient-blue))
    );
    position: absolute;
    content: "";
    opacity: 0;
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    border-radius: 32px;
    z-index: -1;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }

  .btn-primary:hover::before,
  .btn-secondary:hover::before {
    opacity: 100;
  }

  .btn-primary:active::after,
  .btn-secondary:active::after {
    background: linear-gradient(
      205deg,
      hsl(var(--red)),
      hsl(var(--pink)),
      hsl(var(--gradient-blue)),
      hsl(var(--gradient-blue))
    );
    opacity: 100;
  }

  .btn-primary:active::before,
  .btn-secondary:active::before {
    opacity: 0;
  }

  .btn-primary:disabled::before {
    background: hsl(var(--primary));
    opacity: 0.4;
  }

  .btn-primary:disabled::after,
  .btn-primary:hover:disabled::after,
  .btn-secondary:disabled::before,
  .btn-secondary:disabled::after {
    opacity: 0;
  }

  .btn-primary[data-state="open"]::before {
    background: linear-gradient(to right, hsl(var(--red)), hsl(var(--pink)));
    opacity: 1;
  }

  .btn-primary[data-state="open"]::after {
    opacity: 0;
  }

  .react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }

  .react-grid-layout > .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }

  .react-grid-layout > .react-grid-item.cssTransforms {
    transition-property: transform;
  }

  .react-grid-layout > .react-grid-item.resizing {
    z-index: 1;
  }

  .react-grid-layout > .react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
  }

  .react-grid-layout > .react-grid-item.react-grid-placeholder {
    background: hsl(var(--primary));
    opacity: 0.1;
    transition-duration: 100ms;
    z-index: 2;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .react-grid-layout > .react-grid-item > .react-resizable-handle {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    padding: 0 5px 5px 0;
    cursor: se-resize;
    border-right: 1px solid hsl(var(--primary-accent));
    border-bottom: 1px solid hsl(var(--primary-accent));
  }

  .noselect {
    user-select: none !important;
  }
}
